.reset-password {
	margin: 75px 0px 65px 0px; 
	text-align: center;
}
 h1 {
 	font-weight: lighter;
 	font-family: 'Arbutus Slab', serif;   
 }
 p {
 	font-family: 'Arbutus Slab', serif;
 	margin-top: 50px;	
 }
 form {
 	width: 38%;
 	margin: auto;
 }
 .form-field {
 	width: 100%;
 }
 button {
	background-color: #ff5c33;
	color: white;
	font-size: 18px;
	font-family: 'Barlow', sans-serif;
	padding: 2px 15px 2px 15px;
}